.container {
  background-color: #2c2c3c;
  box-sizing: border-box;
  height: 24px;
  padding-left: 12px;
}

.title {
  color: #fcfcfc;
  font-family: Arial;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
}

.closeX {
  composes: clickable from '../../global-classes.css';

  height: 24px;
  float: right;
  opacity: 0.6;
  margin-right: 12px;
  position: relative;
  width: 24px;
}

.closeX:before,
.closeX:after {
  background-color: #fcfcfc;
  content: '';
  display: block;
  height: 16px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 2px;
}
.closeX:before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.closeX:after {
  transform: translate(-50%, -50%) rotate(45deg);
}
