.list {
  background-color: #3c3c4c;
  bottom: 0;
  color: #fcfcfc;
  font-family: Arial;
  font-size: 13px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.header {
  background-color: #2c2c3c;
  height: 24px;
  padding-right: 15px;
}
.header > div {
  box-sizing: border-box;
  float: left;
  height: 24px;
  line-height: 24px;
  padding: 0 8px;
}

.fileNameCell {
  width: 40%;
}
.otherCell {
  width: 20%;
}

.scrollList {
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  top: 24px;
}

.scrollList ul {
  position: relative;
}

.scrollList li {
  border-bottom: 1px solid #222;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
}
.scrollList li > div {
  box-sizing: border-box;
  float: left;
  height: 20px;
  line-height: 20px;
  padding: 0 8px;
}

.selectedItem {
  background-color: #5c5c6c;
}
