.container {
  composes: absolute100 from '../../global-classes.css';
  background-color: #2c2c3c;
  display: grid;
  grid-template-rows: auto 2px auto;
}

.channel {
  background-color: #3c3c4c;
  overflow: hidden;
  position: relative;
}

.leftChannel {
  composes: channel;
  grid-row: 1 / 2;
}

.rightChannel {
  composes: channel;
  grid-row: 3 / 4;
}
